table 
{
  border-collapse:separate;
}

table th 
{
  background: #067bcf;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

table tr:nth-child(odd) 
{
	background: #bfc4f2;
}

table tr:nth-child(even) 
{
	background: #f0f0ee;
}

.cabecera
{
  background: #067bcf;
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;  
  padding-top: 5px;
  padding-bottom: 5px;
}

.renglon
{
	background: #f0f0ee;
  padding-left: 10px;
  padding-right: 10px;  
  padding-top: 12px;
}

.renglonBotones
{
	background: #f0f0ee;
  padding-left: 5px;
  padding-right: 5px;  
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
}

.boton
{
  margin-right: 5px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #72797d;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
}

.tablaPrincipal
{
  width: 98%;
  margin-left: 10px;
  margin-right: 10px;
}

.botones
{  
  text-align: right;
  margin-top: 10px;
  margin-bottom: 5px;
}

.titulo
{
  font-size: 19px;
  font-weight: bold;
  color: rgb(191, 96, 28);
}

.txtNombre
{
  font-size: 14px;
  font-weight: bold;
  color: rgb(241, 109, 15);
  margin-right: 15px;
}

.btnIniciar
{    
  margin-right: 5px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #72797d;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.btnIniciar:hover
{    
  background-color: rgb(191, 96, 28);
  color: white;
}

.btnAgregar
{    
  margin-right: 5px;
  background-color: rgb(17, 176, 91);
  border-radius: 5px;
  border: solid 1px #72797d;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.btnAgregar:hover
{    
  background-color: rgb(191, 96, 28);
  color: white;
}

.btnRecargar
{    
  margin-right: 5px;
  background-color: rgb(17, 176, 91);
  border-radius: 5px;
  border: solid 1px #72797d;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.btnRecargar:hover
{    
  background-color: rgb(191, 96, 28);
  color: white;
}

.colCentrar
{
  text-align: center;
}

.colBotones
{
  text-align: center;
}

.btnEditar
{    
  margin-right: 2px;
  background-color: rgb(253, 253, 17);
  border-radius: 5px;
  border: solid 1px #72797d;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.btnEditar:hover
{    
  background-color:rgb(18, 109, 199);
  color: white;
}

.btnBorrar
{ 
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  border: solid 1px #72797d;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.btnBorrar:hover
{    
  background-color: rgb(18, 109, 199);
  color: white;
}

.pnlLogin
{
    display: flex;    
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    min-height: 70vh;
}

.pnlAgregar
{
    display: flex;    
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    min-height: 70vh;
}
